<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Calendar - Spring Boot</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/spring.ico}" />
    <link th:href="@{/jquery-ui.css}" rel="stylesheet">
    <link th:href="@{/fontawesome.min.css}" rel="stylesheet">
<!--    <link th:href="@{/bootstrap.min.css}" rel="stylesheet">-->

    <script th:src="@{/jquery-1.10.2.js}"></script>
    <script th:src="@{/jquery-ui.js}"></script>
    <script th:src="@{/jquery-ui.js}"></script>
<!--    <script th:src="@{/bootstrap.min.js}"></script>-->
<!--    <script th:src="@{/jquery.twbsPagination.js}"></script>-->
    <style>

        .ui-datepicker td.red a {
            color: #f00 !important;
        }

        table {
            border-collapse: collapse;
        }
        h3,h4{
            text-align: center;
        }
        td, th {
            padding: 5px 20px;
        }


    </style>
    <!-- Javascript -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {

            $("#datepicker-2").datepicker();
            $("#datepicker-3").datepicker({
                appendText: "(yy-mm-dd)",
                dateFormat: "yy-mm-dd"
            });

            hideMsg();
            // const totalPages = /*[[${totalPages}]]*/ 'default';
            // const page = /*[[${page}]]*/ 'default';
            // $('#pagination-demo').twbsPagination({
            //     totalPages: totalPages,
            //     visiblePages: 10,
            //     onPageClick: function (event, page) {
            //
            //         // $.ajax({
            //         //     type: "GET",
            //         //     url: "/admin",
            //         //     data: {
            //         //         page: page - 1,
            //         //         size: 10,
            //         //     },
            //         //     dataType: 'json',
            //         //     success: function (result) {
            //         //
            //         //     }
            //         //
            //         // });
            //
            //
            // }
            // });
        });

        function hideMsg() {

            setTimeout(function(){
               $("#mgs").hide(0);
               $("#mg2").hide(0);
            }, 3000);
        }

        /*]]>*/
    </script>
</head>

<body>
<!-- HTML -->

<h4 id="mgs" style="color: red" th:if="${mgs}" th:text="${mgs}">}</h4>
<h4 id="mg2" style="color: green" th:if="${mgs2}" th:text="${mgs2}">}</h4>

<h3>Nhập Thông Tin</h3>
<form th:action="@{/admin}" th:object="${day}" method="post">
    <table align="center" border="1">
        <tr>
            <td>Enter Date:</td>
            <td><input th:field="*{date}" type="text" id="datepicker-3"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <select th:field="*{type}">
                    <option value="NGAYNGHI">ngày nghỉ</option>
                    <option value="NGAYLAM">ngày làm</option>

                </select>
            </td>
        </tr>

        <tr>
            <td>Ghi chú:</td>
            <td><input th:field="*{note}" type="text"></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>


<h3>Danh sách dữ liệu</h3>

<table align="center" border="1" >
    <tr>
        <th>Dd</th>
        <th>Date</th>
        <th>Type</th>
        <th>Note</th>
        <th>Action</th>
    </tr>


    <tbody th:each="user : ${users}" th:remove="tag">
    <tr>
        <td th:text="${user.login}">...</td>
        <td th:text="${user.name}">...</td>
    </tr>
    <tr>
        <td colspan="2" th:text="${user.address}">...</td>
    </tr>
    </tbody>

    <tr th:each="l : ${list}">
        <td th:text="${l.id}"></td>
        <td th:text="${l.date}"></td>
        <td th:text="${l.type}"></td>

<!--        <td th:switch="${l.type}">-->
<!--            <span th:case="'NGAYNGHI'">-->
<!--                ngày nghỉ-->
<!--            </span>-->
<!--            <span th:case="'NGAYLAM'">-->
<!--                ngày làm-->
<!--            </span>-->

<!--        </td>-->

        <td th:text="${l.note}"></td>
        <td>
            <a th:href="@{/admin/{id}(id=${l.id})}">Delete</a>
        </td>
    </tr>
</table>

<div align="center">
    <a th:href="@{/}">Back to Calendar</a>
</div>
<!--<ul align="center"  id="pagination-demo" class="pagination-sm"></ul>-->
</body>
</html>