<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Datepicker functionality</title>
    <link
            th:href="@{https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css}"
            rel="stylesheet">
    <script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.10.4/jquery-ui.js}"></script>
    <style>

        .ui-datepicker td.red a{
            color:#f00 !important;
        }

        td, th{
            padding: 0px 20px;
        }
        .ui-datepicker-week-end, .ui-datepicker-week-end a.ui-state-default {background:yellow;}
    </style>
    <!-- Javascript -->
    <script>
        $(function() {
            // var date = $(this).datepicker('getDate');
            // var dayOfWeek = date.getUTCDay();
            // console.log((dayOfWeek));
            // var element = document.getElementsByClassName("ui-state-default");
            // console.log(element);
            // for (const elementKey, value in element) {
            // 	let day = elementKey.innerHTML;
            // 	console.log(day);
            // }




            $("#datepicker-2").datepicker();
            $("#datepicker-3").datepicker({
                appendText : "(yy-mm-dd)",
                dateFormat : "yy-mm-dd"
            });
        });


    </script>
</head>

<body>
<!-- HTML -->
<h3>Nhập Thông Tin</h3>
<form th:action="@{/admin}" th:object="${day}" method="post">
    <table>
        <tr>
            <td>Enter Date:</td>
            <td><input th:field="*{date}" type="text" id="datepicker-3"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                <select th:field="*{type}">
                    <option value="NGAYNGHI">ngày nghỉ</option>
                    <option value="NGAYLAM">ngày làm</option>

                </select>
            </td>
        </tr>

        <tr>
            <td>Ghi chú:</td>
            <td><input th:field="*{note}" type="text" ></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
</form>
<div style="color: red" th:if= "${mgs}" th:text="${mgs}">}</div>

<h3>Danh sách dữ liệu</h3>

<table align="center" border="1">
    <tr>
        <th>Dd</th>
        <th>Date</th>
        <th>Type</th>
        <th>Note</th>
    </tr>


    <tbody th:each="user : ${users}" th:remove="tag">
    <tr>
        <td th:text="${user.login}">...</td>
        <td th:text="${user.name}">...</td>
    </tr>
    <tr>
        <td colspan="2" th:text="${user.address}">...</td>
    </tr>
    </tbody>

    <tr th:each="l : ${list}">

        <td th:text="${l.id}"></td>
        <td th:text="${l.date}"></td>
        <td th:text="${l.type}"></td>
        <td th:text="${l.note}"></td>
    </tr>
</table>

<div align="center">
    <a th:href="@{/}">Back to Calendar</a>
</div>

</body>
</html>